* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-width: 700px;
  min-height: 500px;
  margin: auto;
}

.resetBtn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #222;
}

table {
  border: 0px solid transparent;
  border-collapse: separate;
  border-spacing: 10px;
  margin: auto;
}

td {
  background-color: #222;
  border: 5px solid transparent;
  padding: 10px;
  color: white;
  font-size: 80px;
  border-radius: 15px;
}

td:hover {
  background-color: #333;
}

#player {
  padding: 1rem;
}

body {
  display: flex;
  background: #eee url('bg.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
